{% extends 'boards/base.html' %}
{% block body %}
    <h1>Detail</h1>
    <hr>
    <p>No. {{board.pk}}</p>
    <p>title: {{board.title}}</p>
    <p>content: {{board.content}}</p>
    <p>create: {{board.created_at}}</p>
    <p>update: {{board.updated_at}}</p>
    
    <a href="{% url 'boards:index' %}">[HOME]</a><br>
    <a href="{% url 'boards:update' board.pk %}">[EDIT]</a>
    <form action='{% url 'boards:delete' board.pk %}' method='POST'>
        {% csrf_token %}
        <input type="submit" value="DELETE"/>
    </form>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <div id="container"></div>

{% endblock %}